*.iml

/.metadata
/.idea

/operations-service/.idea

/manage-user-service/.project
/manage-user-service/.settings

/write-operation-service/.project
/write-operation-service/.settings

/read-operation-service/.project
/read-operation-service/.settings

/hat-sdk-java/.project
/hat-sdk-java/.settings

